<aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
        <!-- Sidebar contact panel -->
        <div class="contact-panel">
          <div class="image">
            <%= image_tag current_user.photo.url, class: "img-circle" %>
          </div>
          <div class="info">
            <p>Hello, <%= current_user.name %></p>
            <small style="color: #eee;">Welcome Back</small>
          </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="active">
            <a href="<%= dashboard_index_path %>">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
          </li>
          <li class="treeview">
            <a href="">
              <i class="fa fa-institution"></i>
              <span>Companies</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-plus"></i> New</a></li>
              <li><a href="<%= companies_path %>"><i class="fa fa-circle-o"></i> All</a></li>
            </ul>
          </li>
          <!-- <li class="treeview">
            <a href="">
              <i class="fa fa-contacts"></i>
              <span>Staff</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-plus"></i> Add New</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Teachers</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Non-Teaching Staff</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="">
              <i class="fa fa-cog"></i>
              <span>Settings</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> All</a></li>
              <li><a href="#"><i class="fa fa-file-text-o"></i> Subjects</a></li>
              <li><a href="#"><i class="fa fa-home"></i> Classes</a></li>
            </ul>
          </li> -->
          <li>
            <a href="/map">
              <i class="fa fa-map-marker"></i>
              <span>Map</span>
              <i class="fa fa-angle-right pull-right"></i>
            </a>
          </li><!-- 
          <li class="treeview">
            <a href="">
              <i class="fa fa-book"></i>
              <span>Library</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-plus"></i> Add New</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> All Books</a></li>
              <li><a href="#"><i class="fa fa-cog"></i> Manage</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Learning Timetable</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Extra-Currilcular Activities</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="">
              <i class="fa fa-money"></i>
              <span>Finances</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Income</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Expenses</a></li>
            </ul>
          </li> -->
        </ul>
        <!-- start:project stats -->
        <!-- <div class="project-sidebar">
          <div class="main-project-sidebar">
            <p><strong>Projects</strong></p>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
            <p>60% Complete</p>
          </div>
          <div class="main-project-sidebar">
            <p><strong>Tasks</strong></p>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">40% Complete</span>
              </div>
            </div>
            <p>40% Complete</p>
          </div>
          <div class="main-project-sidebar">
            <p><strong>Tasks</strong></p>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
            <p>90% Complete</p>
          </div>
        </div> -->
      </section>
    </aside>