<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Article
        <small>Edit article</small>
      </h1>
      <%= render 'form' %>
    </div>
  </div>
</section>
