
      <!-- HEADER -->
      <div id="header">
        <div id="page-title">The blog</div>
        <!-- Breadcrumb-->
        <div id="breadcrumbs">
          You are here: 
          <a title="Home" href="single.html#">Home</a> &raquo; 
          <a title="Features" href="single.html#">Blog</a> &raquo; 
          <a title="Features" href="single.html#">Lorem ipsum dolor</a>
        </div>
        <!-- ENDS Breadcrumb--> 
      </div>
      <!-- ENDS HEADER -->
      
      <!-- CONTENT -->
      <div id="content">
            
        <!-- PAGE CONTENT -->
        <div id="page-content">
        
          <!-- Single post -->
          <div class="post single">
            <h1>Lorem ipsum dolor amet</h1>
            <!-- meta -->
            <ul class="meta">
              <li>By <a href="single.html#">Ansimuz</a>&nbsp;</li> 
              <li> on Dec 27th 2010 &nbsp;</li>
              <li> with 47 comments &nbsp;</li>
              <li> in <a href="single.html#">Webdesign</a>&nbsp;</li>
            </ul>
            <!-- ENDS meta -->
            <!-- feature image -->
            <div class="feature-image">
              <img src="img/dummies/584x300.jpg" alt="Feature image" />
            </div>
            <!-- ENDS feature image -->
            <div class="the-content">
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </div>
          </div>
          <!-- ENDS single post -->
          
          <!-- tags -->
          <ul class="tags">
            <li>Tags: </li>
            <li><a href="single.html#">Web design</a></li>
            <li><a href="single.html#">Code</a></li>
            <li><a href="single.html#">Photo</a></li>
            <li><a href="single.html#">Clothing</a></li>
            <li><a href="single.html#">Video</a></li>
            <li><a href="single.html#">Web design</a></li>
            <li><a href="single.html#">Code</a></li>
            <li><a href="single.html#">Photo</a></li>
            <li><a href="single.html#">Clothing</a></li>
            <li><a href="single.html#">Video</a></li><li>
            <li><a href="single.html#">Code</a></li>
            <li><a href="single.html#">Photo</a></li>
            <li><a href="single.html#">Video</a></li><li>
          </ul>
          <!-- ENDS tags -->
          
          
          <!-- comments list -->
          <div class="comments-header"><span class="n-comments">25</span><h6 class="text">COMMENTS</h6></div>
          <ol class="comments-list">
            <li>
              <div class="comment-wrap">
                <img alt='avatar' src='img/dummies/avatar.jpg' class='avatar' />
                <div class="comments-right">
                  <div class="meta-date">May 05, 2010 @ 08:19 pm</div>
                  <div><a href='single.html#' class='url'><strong>Admin</strong></a></div>
                  <div class="brief"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p></div>
                  <a href="single.html#" class="edit-comment">Edit</a>
                </div>
              </div>
                <ul class="children">
                  <li>
                    <div class="comment-wrap">
                      <img alt='avatar' src='img/dummies/avatar.jpg' class='avatar' />
                      <div class="comments-right">
                        <div class="meta-date">May 05, 2010 @ 08:19 pm</div>
                        <div><a href='single.html#' class='url'><strong>Admin</strong></a></div>
                        <div class="brief"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p></div>
                        <a href="single.html#" class="edit-comment">Edit</a>
                      </div>
                    </div>
                    <ul class="children">
                      <li>
                        <div class="comment-wrap">
                          <img alt='avatar' src='img/dummies/avatar.jpg' class='avatar' />
                          <div class="comments-right">
                            <div class="meta-date">May 05, 2010 @ 08:19 pm</div>
                            <div><a href='single.html#' class='url'><strong>Admin</strong></a></div>
                            <div class="brief"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p></div>
                            <a href="single.html#" class="edit-comment">Edit</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  
                </ul>
            </li>
            <li>
              <div class="comment-wrap">
                <img alt='avatar' src='img/dummies/avatar.jpg' class='avatar' />
                <div class="comments-right">
                  <div class="meta-date">May 05, 2010 @ 08:19 pm</div>
                  <div><a href='single.html#' class='url'><strong>Admin</strong></a></div>
                  <div class="brief"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p></div>
                  <a href="single.html#" class="edit-comment">Edit</a>
                </div>
              </div>
            </li>
            <li>
              <div class="comment-wrap">
                <img alt='avatar' src='img/dummies/avatar.jpg' class='avatar' />
                <div class="comments-right">
                  <div class="meta-date">May 05, 2010 @ 08:19 pm</div>
                  <div><a href='single.html#' class='url'><strong>Admin</strong></a></div>
                  <div class="brief"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p></div>
                  <a href="single.html#" class="edit-comment">Edit</a>
                </div>
              </div>
            </li>
          </ol>
          <!-- ENDS comments list -->

          <!-- comments form -->
          <div class="leave-comment">
            <h3>LEAVE A COMMENT</h3>  
            <form action="single.html#" method="post" id="commentform">
              <fieldset>
                <div>
                  <label>Name</label>
                  <input type="text"  value="" tabindex="1" class="form-poshytip" title="Enter your name" />
                </div>
                <div>
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" value="" tabindex="2" class="form-poshytip" title="Enter your Email" />
                </div>
                <div>
                  <label for="url">Website</label>
                  <input type="text" name="url" id="url" value="" tabindex="3" class="form-poshytip" title="Enter your website" />
                </div>
                <div>
                  <label for="comment">Comments</label>
                  <textarea name="comment" id="comment" cols="100" rows="10" tabindex="4" class="form-poshytip" title="Enter your comments"></textarea>
                </div>
                <p><input type="submit" name="submit" id="submit" tabindex="5" value="SEND" /></p>
                <p><input type="hidden" name="comment_post_ID" value="51" /></p>
              </fieldset>
            </form>
          </div>
          <!-- ENDS comments form -->   
          
        </div>
        <!-- ENDS PAGE-CONTENT -->
      
      </div>
      <!-- ENDS CONTENT -->
      