
    <section class="content">
        <h1>
            Companies
            <small>All</small>
        </h1>
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-institution"></i> Companies</a></li>
            <li><a href="#">All</a></li>
        </ol>
        <!-- end:breadcrumb -->

        <!-- start:content -->
        <div class="row">
            <div class="col-md-12">
                <!-- start:dynamic data table -->
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service</th>
                                <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @companies.each do |company| %>
                            <tr class="gradeX">
                                <td><%= company.name %></td>
                                <td><%= company.service.name if !company.service.nil? %></td>
                                <td><%= company.phone_number %></td>
                            </tr>
                          <% end %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th class="hidden-phone">Engine version</th>
                                <th class="hidden-phone">CSS grade</th> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- end:dynamic data table -->
            </div>
        </div>
        <!-- end:content -->

    </section>