<section class="content">
  <div class="row">
    <div class="col-lg-8">
      <h1>
        Company
        <small>Add a new company</small>
      </h1>
      <%= render 'form' %>
    </div>
  </div>
</section>
