<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notification_type.name %>
</p>

<%= link_to 'Edit', edit_notification_type_path(@notification_type) %> |
<%= link_to 'Back', notification_types_path %>
