<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>Copyright &copy; 2015 All Rights Reserved</p>
				<p class="social">
					<a href="https://www.facebook.com/pages/Ujirani-app/1518675521712883">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://twitter.com/Ujiraniapp">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://plus.google.com/u/1/?hl=en">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="#">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>