<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Ujirani</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description" content="Insights for Instant messaging.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Ujirani">
  <meta name="twitter:description" content="Insights for Instant messaging.">

  <meta property="og:type" content="article">
  <meta property="og:title" content="Ujirani">
  <meta property="og:description" content="Insights for Instant messaging.">


  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/assets/img/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag 'blog', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'blog', 'data-turbolinks-track' => false %>

</head>
<body class="home-template no-js">

  <span class="mobile btn-mobile-menu">
    <i class="icon icon-list btn-mobile-menu__icon"></i>
    <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
  </span>

  <header class="panel-cover">
    <div class="panel-main">
  
      <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
  
          <a href="index.html#open" title="link to homepage for Ujirani"><%= image_tag '/assets/blog/ujirani_logo.png', width: "80", alt: "Ujirani logo", class: "panel-cover__logo logo" %></a>
          <h1 class="panel-cover__title panel-title"><a href="index.html" title="link to homepage for Ujirani">Ujirani</a></h1>
          <hr class="panel-cover__divider" />
          <p class="panel-cover__description">Great software for great neighborliness.</p>
  
          <hr class="panel-cover__divider panel-cover__divider--secondary" />
  
          <div class="navigation-wrapper">
  
            <form id="search">
              <i class="icon icon-search"></i>
              <input type="text", name="query", placeholder="Nyumba Kumi, Ujirani" id="search-field" />
              <hr class="panel-cover__divider panel-cover__divider--secondary" />
            </form>
  
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="http://ujiraniapp.com/" target="_blank" title="Sign up today" class="blog-button">Sign up Today</a></li>
                <li class="navigation__item"><a href="index.html#open" title="Ujirani" class="blog-button">Blog</a></li>
              </ul>
            </nav>
  
            
            <nav class="cover-navigation navigation--social">
              <ul class="navigation">
            
              <!-- Twitter -->
              <!-- <li class="navigation__item ">
                <a target="blank" href="http://twitter.com/ujiranitech" title="Follow us on Twitter">
                  <i class='icon icon-social-twitter'></i>
                  <span class="label">Twitter</span>
                </a>
              </li> -->
            
              <!-- Linkedin -->
              <!-- <li class="navigation__item ">
                <a target="blank" href="https://www.linkedin.com/company/ujirani" title="Lets Connect">
                  <i class='icon icon-social-linkedin'></i>
                  <span class="label">Linkedin</span>
                </a>
              </li> -->
            
               <!-- Facebook -->
              <!-- <li class="navigation__item ">
                <a target="blank" href="https://www.facebook.com/Ujirani" title="Like us on Facebook">
                  <i class='icon icon-social-facebook'></i>
                  <span class="label">Facebook</span>
                </a>
              </li> -->
            
              <!-- Github -->
            
              <!-- Email -->
              <!-- <li class="navigation__item ">
                <a target="blank" href="mailto:hello@ujiraniapp.com" title="Get in touch">
                  <i class='icon icon-mail'></i>
                  <span class="label">Email</span>
                </a>
              </li> -->
            
              <!-- RSS -->
            
              </ul>
            </nav>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </header>

  <div class="content-wrapper">
    <div id="results"></div>
    <%= yield %>
    <footer class="footer">
      <span class="footer__copyright">&copy; 2015. All rights reserved.</span>
    </footer>
  </div>

  <script type="text/javascript">
    $(function() {
      Uno.cover.collapsed();
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-59878696-1', 'auto');
    ga('send', 'pageview');
  
  </script></body>
</html>
